<h1>Add User</h1>
<form method="POST">
    <label for="userID">User ID:</label><br>
    <input type="text" id="userID" name="userID"><br>

    <label for="userName">User Name:</label><br>
    <input type="text" id="userName" name="userName"><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>

    <label for="role">Role:</label><br>
    <input type="text" id="role" name="role"><br>

    <label for="resourceURL">Resource URL:</label><br>
    <input type="text" id="resourceURL" name="resourceURL"><br><br>

    <button type="submit">Add User</button>
</form>
